.jumbotron{
    background-image: url(assets/bkg-lotsbeans.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.jumbotron h1 h2{
    font-size: 2vw;
}

.white-shadow{
    text-shadow: 3px 3px 8px #0b0d0c;
    color: #e1e2e4;
}

.grey-bg{
    background-color: #6e8387;
}

.grey{
    color: #6e8387;
}

.specials {
    position: relative;
    text-align: center;
    color: white;
  }

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: left;
  }

  .top-center {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: center;
  }

  .bottom-center {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-align: center;
  }

  h1, h2, h3{
    font-family: 'Spartan', sans-serif;
    font-weight: 700 !important;
}

h3{
    font-size: 5vw;
}

span{
    font-size: 3vw;
}

p{
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}

@media(min-width: 768px){
    .jumbotron h2{
        color: #201311;
        text-shadow: none;
    }
}