@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #160f29;
}

/* COLORS */
.bg-dark {
    background-color: #160f29 !important;
}

.bg-primary {
    background-color: #ffca3a !important;
}

/* NAVBAR */
.navbar-brand {
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link {
    font-family: 'Roboto', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    padding-bottom: 2px;
    border-bottom: solid 2px #ffca3a;
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #ffca3a;
}

.navbar-dark .navbar-toggler {
    color: #fff;
}

/* END NAVBAR */
/* JUMBOTRON */
.section {
    position: relative;
}

.jumbotron {
    background-image: url(assets/jumbotron-bkg.png);
    background-color: #ffca3a;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}

.section .bg-move {
    position: absolute;
    bottom: -88px;
    right: -20px;
    width: 240px;
    z-index: 2;
}

.lead {
    font-size: 1.4rem;
}

/* END JUMBOTRON */

h1,
h2 {
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 7px;
}

h2 {
    font-size: 2.4rem;
}

.h3,
h3 {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 2rem;
}

.h5,
h5 {
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
}

p {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 1.5rem;
}

.col-12 {
    flex: 0 0 0;
    max-width: 100%;
}

.display-3 {
    font-size: 3.8rem;
}

.btn-primary {
    color: #fff;
    background-color: #3b8ea5;
    border-color: #3b8ea5;
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #077187;
    border-color: #077187;
    transform: scale(1.1);
}

.btn-secondary {
    color: #160f29;
    background-color: #ffca3a;
    border-color: #160f29;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 800;
    border: 3px solid;
}

.btn-secondary:hover {
    transform: scale(1.1);
    color: #160f29;
    background-color: #ffca3a;
    border-color: #160f29;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 800;
    border: 3px solid;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #077187;
    border-color: #077187;
    box-shadow: 0 0 0 .2rem rgba(59, 142, 165, .5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #077187;
    border-color: #077187;
}

.btn {
    border-radius: 0;
}

/* CAROUSEL START */
.carousel-caption {
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    bottom: 41%;
    padding: 0px;
}

.carousel-caption h5 {
    font-size: 9vw;
}

.carousel-inner {
    width: 100vw;
    background: black;
    overflow: hidden;
}

.carousel-inner img {
    object-fit: cover;
    opacity: 0.6;
}

/* CAROUSEL END */

/* ABOUT */
.about .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffca3a;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}

/* END ABOUT */

/* TEAM */
.fab {
    font-family: 'Font Awesome 5 Brands';
    font-size: 30px;
    margin: 0px 10px 0px 10px;
    color: #077187;
}

/* TEAM END */

/* ALERT START */
.alert {
    position: sticky;
    z-index: 16;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem 1.25rem;
    margin-bottom: 0rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

/* ALERT END */

/* MODAL START */
.modal-dialog {
    max-width: 705px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.3;
}

.modal-header .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-header .h5 {
    font-size: 2.2rem;
}

label {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 1.1rem;
}

.modal-content {
    background-image: url(assets/modal.png);
    background-position: right;
}

.modal-header {

    padding: 0rem;
    border-bottom: 0px solid #dee2e6;
    display: block;
}

.modal-footer {
    border-top: none;
}

.modal-footer .btn-primary {
    background-color: #bc2328;
    border-color: #bc2328;
}

.modal-footer .btn-primary:hover {
    background-color: #bc2328;
    border-color: #bc2328;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #bc2328;
    background-color: #bc2328;
}

/* MODAL END */

/* FOOTER */
footer h3 {
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 15px;
}

footer a {
    text-transform: uppercase;
    color: #ffca3a;
}

@media(min-width:960px) {
    .section .bg-move {
        bottom: -77px;
        right: 1px;
    }

    .display-3 {
        font-size: 9vw;
    }

    h2 {
        font-size: 4rem;
    }

    .h3,
    h3 {
        font-size: 2.5rem;
    }
}

@media(min-width:1140px) {
    .section .bg-move {
        bottom: -115px;
        right: -6px;
    }
}