@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #160f29;
}

/* NAVBAR */
.bg-dark {
    background-color: #160f29 !important;
}

.navbar-brand{
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link{
    font-family: 'Roboto', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
   padding-bottom: 2px;
    border-bottom: solid 2px #ffca3a;
    color: #fff;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ffca3a;
}

.navbar-dark .navbar-toggler {
    color: #fff;
}
/* END NAVBAR */
/* JUMBOTRON */
.section {
    position: relative;
}

.jumbotron {
    background-image: url(assets/jumbotron-bkg.png);
    background-color: #ffca3a;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.section .bg-move {
    position: absolute;
    bottom: -88px;
    right: -20px;
    width: 240px;
    z-index: 2;
}

.lead {
    font-size: 1.4rem;
}
/* END JUMBOTRON */

h1, h3{
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 15px;
}

h2, p{
    font-family: 'Roboto', arial, sans-serif;
}

.display-3 {
    font-size: 3.8rem;
}

.btn-primary {
    color: #fff;
    background-color: #3b8ea5;
    border-color: #3b8ea5;
    font-family: 'Fredoka One', arial, cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #077187;
    border-color: #077187;
}

/* FOOTER */
h3{
    color: #fff;
    letter-spacing: 1px;
}

footer a{
    text-transform: uppercase;
    color: #ffca3a;
}