@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}

.h2,
h2 {
    font-size: 4rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* START NAVBAR */
.dropdown-toggle::after {
    display: none;
}

.navbar-brand img {
    height: 35px;
}

.bg-light {
    background-color: #fff !important;
}

.dropdown-menu{
    border: 0px;
}
/* END NAVBAR */

/* START JUMBOTRON */
.uni .jumbotron {
    background-image: url(assets/uni-trick.jpg);
    height: 330px;
    background-position: bottom bottom;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
/* END JUMBOTRON */

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.position-absolute {
    position: absolute !important;
    top: 30px;
    left: 30px;
}

/* CARD START */
.card {
    
    border: none;
    margin: 15px;
}

.btn-primary {
    background-color: transparent;
    border-radius: 0px;
    border: 2px solid black;
    color: black;
}

.btn-primary:hover {
    background-color: #d92929;
    background-color: #2364aa;
    border-radius: 0px;
    border: 2px solid #d92929;
    color: white;
}