@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}

.h2,
h2 {
    font-size: 4rem;
}

.h3,
h3 {
    font-size: 3rem;
}

.h6,
h6,
p,
a,
span {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #0d0106;
    text-decoration: none;
}

a:hover {
    color: #d92929;
    text-decoration: none;
}

.card a {
    color: #0d0106;
}

.row {
    margin: none;
}

/* START NAVBAR */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link {
    color: #0d0106;
    letter-spacing: 1px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #d92929;
    font-weight: 600;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-brand img {
    height: 35px;
    position: sticky;
}

.navbar-brand {
    margin: 0px;
}

.bg-light {
    background-color: #fff !important;
}

.dropdown-menu {
    border: 0px;
}

.fa,
.fas {
    color: #0d0106;
}

.fa-shopping-cart::before {
    font-size: 1.5rem;
}

.cart-badge {
    position: absolute;
    top: 1px;
    left: 12px;
    color: #fff;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

/* END NAVBAR */

/* START JUMBOTRON */
.display-3 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-shadow: -4px 4px 9px #0d0106;
}

.uni .jumbotron {
    background-image: url(assets/uni-room.png);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bike .jumbotron {
    background-image: url(assets/bike-brick.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trike .jumbotron {
    background-image: url(assets/trike-red.png);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog .jumbotron {
    background-image: url(assets/big-wheel.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.location .jumbotron {
    background-image: url(assets/bike_whitewall.png);
    height: 400px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    margin-bottom: 0px;
}


/* END JUMBOTRON */

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-1 .carousel-caption{
    position: absolute;
    right: 34%;
    top: 1%;
    left: 4%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-3 .carousel-caption {
    position: absolute;
    right: 55%;
    top: -3px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.carousel-1 .carousel-caption h5 {
    font-size: 5.6vw;
}

.carousel-3 .carousel-caption h5 {
    font-size: 5.5vw;
}

/* CARD START */
.card {

    border: none;
    margin: 15px;
}

.btn-primary:hover {
    background-color: transparent;
    border-radius: 0px;
    border: 3px solid #d92929;
    color: #0d0106;
}

.btn-primary {
    background-color: #d92929;
    border-radius: 0px;
    border: 3px solid #d92929;
    color: white;
    width: 75%;
    text-transform: capitalize;
    margin: auto;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #d92929;
    border-radius: 0px;
    border: 3px solid #0d0106;
    color: white;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: transparent;
    border-radius: 0px;
    border: 3px solid #0d0106;
    color: #0d0106;
    box-shadow: 0 0 0 .2rem rgba(219, 43, 41, .3);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(219, 43, 41, .3);
}

.btn-secondary {
    color: #0d0106;
    background-color: #fff;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #0d0106;
    border-color: #0d0106;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #d92929;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #d92929;
    text-decoration: none;
    background-color: transparent;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border: 2px solid;
    outline: 3px solid black;
    outline-offset: -2px;
}

.summer{
    top: 12%;
    right: -6%;
    font-size: 6vw;
    background-color: #d92929;
    color: #fff;
    padding: 20px;
}

/* WHEEL ANIMATION START */
/* WHEEL roll */
.element-to-hide {
    visibility: hidden;
}

.rollRight,
.rollLeft,
.rollCenter {
    height: 30vh;
}

.right-absolute {
    position: absolute !important;
    top: 0px;
    right: 35px;
}

.left-absolute {
    position: absolute !important;
    top: 0px;
    right: 70px;
}

.center-absolute {
    position: absolute !important;
    top: 0px;
    right: 95px;
}

.rollRight {
    visibility: visible;
    animation-name: rollRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rollRight {
    0% {
        transform: translateX(-150%) rotate(0deg);
    }

    100% {
        transform: translateX(60%) rotate(360deg);
    }
}

.rollCenter {
    visibility: visible;
    animation-name: rollCenter;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rollCenter {
    0% {
        transform: translateX(-150%) rotate(0deg);
    }

    100% {
        transform: translateX(24%) rotate(360deg);
    }
}

.rollLeft {
    visibility: visible;
    animation-name: rollLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rollLeft {
    0% {
        transform: translateX(150%) rotate(0deg);
    }

    100% {
        transform: translateX(-20%) rotate(-360deg);
    }
}

/* WHEEL ANIMATION END */

/* ANIMATION SCALE IMAGE */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/* END ANIMATION SCALE IMAGE */

/* TEXT ANIMATION START */
.text1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 903;
    letter-spacing: 5px;
    margin-bottom: 0px;
    position: relative;
    animation: text 3s 1;
}

@keyframes text {
    0% {
        color: transparent;
    }

    30% {
        letter-spacing: 40px;
        transform: scale(130%);
    }

    85% {
        letter-spacing: 10px;
        transform: scale(100%);
    }
}

.blue1 {
    background-color: #7ad5dc;
    width: 100%;
    padding: 15px;
}

.blue1 .container,
.blue1 .container-lg,
.blue1 .container-md,
.blue1 .container-sm {
    width: 100%;
    background-color: #7ad5dc;
}

.blue2 {
    background-color: #3da5d9;
    width: 100%;
    padding: 15px;
}

.blue2 .container,
.blue2 .container-lg,
.blue2 .container-md,
.blue2 .container-sm {
    width: 100%;
    background-color: #3da5d9;
}

.blue3 {
    background-color: #2364aa;
    width: 100%;
    padding: 15px;
}

.blue3 .container,
.blue3 .container-lg,
.blue3 .container-md,
.blue3 .container-sm {
    width: 100%;
    background-color: #2364aa;
}

/* TEXT ANIMATION END */

/* LOCATION START */
.location h2 {
    font-size: 3rem;
}

.logo {
    width: 170px;
}

/* LOCATION END */

/* SHOPPING CART START */
.shopping-cart {
    font-family: 'Open Sans', sans-serif;
}

.shopping-cart .product {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.shopping-cart .items .product .info {
    padding-top: 0px;
    text-align: center;
}

.shopping-cart .items .product .info .product-name {
    font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info {
    font-size: 14px;
    margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value {
    font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input {
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}

.shopping-cart .total {
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .total .total-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.shopping-cart .total .price {
    font-size: 1em;
    float: right;
}

/* SHOPPING CART END */
/* CHECKOUT START */
.checkout .row {
    margin-right: -15px;
    margin-left: -15px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 0px none;
}

.checkout .list-group {
    border: 2px solid #0d0106;
}

.font-weight-bold {
    font-size: 1.2rem;
}

/* CHECKOUT END */

/* BLOG START */
.blog .accordion .btn-link {
    color: #0d0106;
    text-decoration: none;
}

.blog .accordion .btn-link:hover {
    color: #0d0106;
    text-decoration: none;
}

.blog .h2,
.blog h2 {
    font-size: 2rem;
}

.blog .h4,
.blog h4 {
    font-size: 1rem;
}

.blog .card-header {
    background-color: rgba(122, 213, 220);
}

.blog .card-body {
    border: 4px solid rgb(122, 213, 220);
}

/* BLOG END */

/* FOOTER START */
footer .fa-2x {
    font-size: 1.5em;
    color: #fff;
}

.page-footer {
    background-color: #0d0106;
}

/* FOOTER END */
/* PRODUCT START */
/* Hide the browser's default radio button */
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: 0rem;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.uni input:checked~.checkmark {
    background-color: #FCD531;
}

.bike input:checked~.checkmark {
    background-color: #67caa3;
}

.trike input:checked~.checkmark {
    background-color: #212529;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: -2px;
}

.form-check .radio-color {
    padding-left: 30px;
}

.product .h2,
.product h2 {
    font-size: 2rem;
}

/* PRODUCT END */

/* MEDIA QUIREIES ----------------------------------------- */
@media (min-width: 576px) {
    @keyframes rollCenter {
        0% {
            transform: translateX(-400%) rotate(0deg);
        }

        100% {
            transform: translateX(55%) rotate(360deg);
        }
    }

    @keyframes rollRight {
        0% {
            transform: translateX(-400%) rotate(0deg);
        }

        100% {
            transform: translateX(90%) rotate(360deg);
        }
    }

    @keyframes rollLeft {
        0% {
            transform: translateX(-400%) rotate(0deg);
        }

        100% {
            transform: translateX(18%) rotate(-360deg);
        }
    }
    .carousel-caption{
        position: absolute;
        right: 34%;
        top: 13%;
        left: 4%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }
    
}

@media (min-width: 768px) {

    .h3,
    h3 {
        font-size: 10rem;
    }

    .h2,
    h2 {
        font-size: 4rem;
    }

    .cart-badge {
        top: 0px;
    }

    .display-3 {
        font-size: 6rem;
    }

    /* WHEEL ANIMATION START */
    /* WHEEL roll */
    .rollRight,
    .rollLeft,
    .rollCenter {
        height: 30vh;
    }

    @keyframes rollCenter {
        0% {
            transform: translateX(-100%) rotate(0deg);
        }

        100% {
            transform: translateX(-2%) rotate(360deg);
        }
    }

    @keyframes rollRight {
        0% {
            transform: translateX(-400%) rotate(0deg);
        }

        100% {
            transform: translateX(28%) rotate(360deg);
        }
    }

    @keyframes rollLeft {
        0% {
            transform: translateX(-400%) rotate(0deg);
        }

        100% {
            transform: translateX(-35%) rotate(-360deg);
        }
    }

    /* WHEEL ANIMATION END */

    .text1 {
        color: #fff;
        font-size: 4.5rem;
        font-weight: 903;
        letter-spacing: 5px;
        margin-bottom: 0px;
        position: relative;
        animation: text 3s 1;
    }

    .summer{
        top: 13%;
right: -13%;
font-size: 6vw;
    }

    @media screen and (min-width: 800px) and (min-height: 270px) {

        .h3,
        h3 {
            font-size: 5rem;
        }

        footer .navbar-brand img {
            height: 40px;
        }

    }

    @media (min-width: 992px) {

        .h3,
        h3 {
            font-size: 9rem;
        }

        .text1 {
            color: #fff;
            font-size: 9rem;
            font-weight: 903;
            letter-spacing: 5px;
            margin-bottom: 0px;
            position: relative;
            animation: text 3s 1;
        }
    }
}